In [1]:
import pandas as pd
from pandas import DataFrame
import sklearn.svm as svm

In [2]:
all_data = pd.read_csv("../santander-customer-transaction-prediction/train-200K samples with labels-10%targets.csv")

In [41]:
First_Ten_K_data = all_data[0:10000]
Second_Ten_K_data = all_data[10000:20000]
#In the first 10000 data, 994 of them are label 1, approximately 10%
#In the first 10000 data, 974 of them are label 1, also approximately 10%

In [42]:
First_Ten_K_data.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [ ]:
'''
X_train = First_Ten_K_data.drop(['target'], axis=1) 
#if set inplace = True, then the original DataFrame will also execute the drop;
#inplace = False by default
y_train = First_Ten_K_data[["target"]] #if only one [], then the return type is Series, [[]] will return a DF

X_test = Second_Ten_K_data.drop(['target'], axis=1)
y_test = Second_Ten_K_data[['target']]
'''

In [76]:
X = First_Ten_K_data.drop(['ID_code','target'], axis=1) 
#if we don't drop the 'ID_code', when fit SVM, it will show like "could not convert string to float: 'train_3783'"
y = First_Ten_K_data[["target"]]

In [90]:
X.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,5.7470,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,8.0851,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,5.9525,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,8.2450,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,7.6784,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [94]:
#Normalize the data:
from sklearn import preprocessing
import pandas

x = X.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
X = pandas.DataFrame(x_scaled)
X.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,0.422768,0.301550,0.571798,0.333150,0.585532,0.426455,0.470070,0.568451,0.265574,0.223145,...,0.568248,0.294079,0.624342,0.424540,0.475805,0.259893,0.659246,0.412851,0.304616,0.566695
1,0.566193,0.421463,0.701510,0.358186,0.681198,0.779351,0.566587,0.460147,0.688032,0.580669,...,0.681927,0.507383,0.572469,0.777657,0.294962,0.810846,0.667348,0.453195,0.610830,0.615673
2,0.405156,0.485151,0.583262,0.569956,0.492338,0.430771,0.820691,0.360873,0.265610,0.254568,...,0.514019,0.624850,0.486753,0.424342,0.656023,0.948568,0.189389,0.359871,0.411264,0.590642
3,0.541675,0.512137,0.375245,0.510995,0.704799,0.587426,0.609261,0.376890,0.216299,0.605120,...,0.569354,0.338310,0.397348,0.414260,0.739683,0.400027,0.306653,0.722266,0.589615,0.439419
4,0.473530,0.542508,0.636066,0.463783,0.672178,0.680038,0.628042,0.600785,0.851353,0.518479,...,0.358171,0.609573,0.315827,0.710646,0.169638,0.370004,0.530303,0.581027,0.591136,0.442464

In [95]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [96]:
sum(y_test.target) #in this testing set, we totally have 182 data whose label is "1"

193

In [97]:
sum(y_train.target)

801

In [98]:
print(type(X_train),'\n', type(y_train),'\n', type(X_test),'\n', type(y_test))

<class 'pandas.core.frame.DataFrame'>
 <class 'pandas.core.frame.DataFrame'>
 <class 'pandas.core.frame.DataFrame'>
 <class 'pandas.core.frame.DataFrame'>

In [99]:
%%time

svc = svm.SVC()
svc.fit(X_train, y_train)

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

CPU times: user 4.58 s, sys: 76.3 ms, total: 4.66 s
Wall time: 4.67 s

193

In [100]:
print('SVM Accuracy on test data is:', svc.score(X_test, y_test))

SVM Accuracy on test data is: 0.9035

In [101]:
from sklearn.metrics import roc_curve,auc,roc_auc_score,accuracy_score

In [102]:
y_predict=svc.predict(X_test)
print ('ROC AUC:%.3f'%roc_auc_score(y_true=y_test,y_score=y_predict))
print ('Accuracy:%.3f'%accuracy_score(y_true=y_test,y_pred=y_predict))

ROC AUC:0.500
Accuracy:0.903

**？？？这个准确率？？表示完全都是猜的0，因为2000个test data，其中182个为1，其他的为0，如果都猜0的话，正确率正好是0.909，然后AUC正好是0.5，但是这是为什么？？**

**Try K-NN:**

In [103]:
%%time
from sklearn.neighbors import KNeighborsClassifier

#Let's iterate i in range(1,50), and find the i that can get the best(highest) accuracy on test data:
i_and_accs = []
for i in range(1,12):
    k = i
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred_test = knn.predict(X_test)
    acc_test = knn.score(X_test, y_test)
    y_pred_train = knn.predict(X_train)
    acc_train = knn.score(X_train, y_train)
    
    i_and_accs.append([i,acc_test,acc_train])
    
i_and_accs #List of accuracies when i in range of 1 to 49, but haven't been sorted yet

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

CPU times: user 10min 28s, sys: 466 ms, total: 10min 28s
Wall time: 10min 28s

In [104]:
%%time
sorted_i_and_accs = sorted(i_and_accs, key=lambda x: x[1], reverse=True)
best_k = sorted_i_and_accs[0][0]
best_acc_test = sorted_i_and_accs[0][1]
corresponding_acc_train = sorted_i_and_accs[0][2]
print('The k (whose range from 1 to 49) that can get the best accuracy is '+str(best_k)+'.')
print('The best accuracy on test data is '+str(best_acc_test)+'.')

The k (whose range from 1 to 49) that can get the best accuracy is 2.
The best accuracy on test data is 0.904.
CPU times: user 83 µs, sys: 39 µs, total: 122 µs
Wall time: 95.8 µs

In [105]:
sorted_i_and_accs

[[2, 0.904, 0.904875],
 [3, 0.904, 0.908],
 [4, 0.9035, 0.900375],
 [5, 0.9035, 0.901],
 [6, 0.9035, 0.899875],
 [7, 0.9035, 0.9],
 [8, 0.9035, 0.899875],
 [9, 0.9035, 0.9],
 [10, 0.9035, 0.899875],
 [11, 0.9035, 0.899875],
 [1, 0.8865, 1.0]]