In [1]:
import pandas as pd
from pandas import DataFrame
import sklearn.svm as svm

In [2]:
all_data = pd.read_csv("../santander-customer-transaction-prediction/train-200K samples with labels-10%targets.csv")

In [3]:
sum(all_data.target)
# 20098 of them are label 1, approximately 10%

20098

In [4]:
sorted_all_data = all_data.sort_values(by='target',ascending=False)
sorted_all_data.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
29094,train_29094,1,16.1572,7.9968,5.7262,5.3983,11.8431,0.8831,6.9020,17.5647,...,-1.5898,7.8978,0.6694,4.7748,14.3033,-1.9249,1.8920,8.0455,10.4091,9.1993
81454,train_81454,1,8.7612,0.2018,10.5336,6.7798,10.3364,-6.2342,6.3289,15.1656,...,7.4946,10.6336,1.4025,3.8907,20.3836,-1.7819,-0.4499,8.7548,14.3842,-2.7612
126757,train_126757,1,12.7405,-4.8914,13.2755,9.0710,8.8562,-3.0776,6.1806,13.4231,...,6.5175,9.4812,0.4055,-0.6367,21.1369,-0.6886,6.5173,8.6781,18.8952,-27.9383
81436,train_81436,1,7.6062,-5.7881,8.5228,5.7798,11.5769,-6.6377,6.1840,13.8390,...,2.8450,3.7620,-0.1900,-6.1016,18.8138,-1.8027,9.6588,7.7694,15.3515,14.4020
81438,train_81438,1,13.2652,1.5462,16.2339,9.3391,8.6914,-4.1305,7.8517,23.9764,...,0.5300,9.6809,0.7063,3.5669,18.9545,-1.1964,-6.0121,9.1534,13.9499,4.8177

In [55]:
#Xy55 = sorted_all_data[0:40196] #The amount of label_1 vs the amount of label_0 is 1:1
Xy55 = sorted_all_data[0:40196]
sum(Xy55.target)

20098

In [56]:
'''
X_train = First_Ten_K_data.drop(['target'], axis=1) 
#if set inplace = True, then the original DataFrame will also execute the drop;
#inplace = False by default
y_train = First_Ten_K_data[["target"]] #if only one [], then the return type is Series, [[]] will return a DF

X_test = Second_Ten_K_data.drop(['target'], axis=1)
y_test = Second_Ten_K_data[['target']]
'''

'\nX_train = First_Ten_K_data.drop([\'target\'], axis=1) \n#if set inplace = True, then the original DataFrame will also execute the drop;\n#inplace = False by default\ny_train = First_Ten_K_data[["target"]] #if only one [], then the return type is Series, [[]] will return a DF\n\nX_test = Second_Ten_K_data.drop([\'target\'], axis=1)\ny_test = Second_Ten_K_data[[\'target\']]\n'

In [57]:
X = Xy55.drop(['ID_code','target'], axis=1) 
#if we don't drop the 'ID_code', when fit SVM, it will show like "could not convert string to float: 'train_3783'"
y = Xy55[["target"]]

In [58]:
X.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
29094,16.1572,7.9968,5.7262,5.3983,11.8431,0.8831,6.9020,17.5647,5.0969,7.5070,...,-1.5898,7.8978,0.6694,4.7748,14.3033,-1.9249,1.8920,8.0455,10.4091,9.1993
81454,8.7612,0.2018,10.5336,6.7798,10.3364,-6.2342,6.3289,15.1656,3.5367,6.7148,...,7.4946,10.6336,1.4025,3.8907,20.3836,-1.7819,-0.4499,8.7548,14.3842,-2.7612
126757,12.7405,-4.8914,13.2755,9.0710,8.8562,-3.0776,6.1806,13.4231,1.8213,7.7023,...,6.5175,9.4812,0.4055,-0.6367,21.1369,-0.6886,6.5173,8.6781,18.8952,-27.9383
81436,7.6062,-5.7881,8.5228,5.7798,11.5769,-6.6377,6.1840,13.8390,0.8570,6.5611,...,2.8450,3.7620,-0.1900,-6.1016,18.8138,-1.8027,9.6588,7.7694,15.3515,14.4020
81438,13.2652,1.5462,16.2339,9.3391,8.6914,-4.1305,7.8517,23.9764,-3.9925,7.2727,...,0.5300,9.6809,0.7063,3.5669,18.9545,-1.1964,-6.0121,9.1534,13.9499,4.8177

In [59]:
#Normalize the data:
from sklearn import preprocessing
import pandas

x = X.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
X = pandas.DataFrame(x_scaled)
X.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,0.823414,0.955217,0.198430,0.402073,0.604414,0.670090,0.767056,0.529790,0.767590,0.506796,...,0.405305,0.542890,0.347162,0.567106,0.257994,0.339710,0.509595,0.336090,0.199519,0.732786
1,0.435627,0.617285,0.505042,0.512628,0.451794,0.518996,0.670540,0.410733,0.687550,0.386757,...,0.699779,0.687921,0.409052,0.536827,0.605255,0.355413,0.434595,0.459831,0.405500,0.550391
2,0.644269,0.396483,0.679918,0.695983,0.301858,0.586007,0.645565,0.324260,0.599548,0.536389,...,0.668106,0.626830,0.324883,0.381766,0.648278,0.475468,0.657720,0.446451,0.639250,0.166444
3,0.375068,0.357609,0.376795,0.432602,0.577450,0.510430,0.646138,0.344899,0.550078,0.363467,...,0.549061,0.323641,0.274609,0.194598,0.515600,0.353129,0.758327,0.287922,0.455623,0.812127
4,0.671781,0.675568,0.868602,0.717438,0.285164,0.563655,0.926994,0.847976,0.301292,0.471293,...,0.474019,0.637416,0.350277,0.525737,0.523636,0.419707,0.256466,0.529370,0.382995,0.665968

In [60]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [61]:
y = all_data[["target"]]
X = all_data.drop(['ID_code','target'], axis=1)
X_train2,X_test2, y_train2, y_test2 = train_test_split(X, y, test_size=0.2)

In [62]:
sum(y_test.target) #in this testing set, we totally have 4123 data whose label is "1"

3998

In [63]:
sum(y_train.target)

16100

In [64]:
print(type(X_train),'\n', type(y_train),'\n', type(X_test),'\n', type(y_test))

<class 'pandas.core.frame.DataFrame'>
 <class 'pandas.core.frame.DataFrame'>
 <class 'pandas.core.frame.DataFrame'>
 <class 'pandas.core.frame.DataFrame'>

In [65]:
%%time

#svc = svm.SVC(kernel='poly') #default degree = 3
svc = svm.SVC() 
svc.fit(X_train, y_train)

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

CPU times: user 3min 36s, sys: 716 ms, total: 3min 37s
Wall time: 3min 37s

In [66]:
#print('SVM Accuracy on test data is:', svc.score(X_test2, y_test2))

In [67]:
sum(y_test2.target)

4022

In [68]:
%%time
from sklearn.metrics import roc_curve,auc,roc_auc_score,accuracy_score
y_predict2=svc.predict(X_test2)
print ('Original Data ROC AUC:%.3f'%roc_auc_score(y_true=y_test2,y_score=y_predict2))
print ('Original Data Accuracy:%.3f'%accuracy_score(y_true=y_test2,y_pred=y_predict2))

y_predict=svc.predict(X_test)
print ('ROC AUC:%.3f'%roc_auc_score(y_true=y_test,y_score=y_predict))
print ('Accuracy:%.3f'%accuracy_score(y_true=y_test,y_pred=y_predict))

Original Data ROC AUC:0.500
Original Data Accuracy:0.101
ROC AUC:0.779
Accuracy:0.779
CPU times: user 3min 31s, sys: 648 ms, total: 3min 32s
Wall time: 3min 33s

In [69]:
print(str(sum(y_predict2))+ '\n' + str(sum(y_predict))) #We can see that the classifier predict all the Original 
#test data as label_1

40000
3978

**Now let's try PCA**

In [89]:
%%time
from sklearn.decomposition import PCA 

pca=PCA(n_components=50)     #加载PCA算法，设置降维后主成分数目为50
pca_X=pca.fit_transform(X)#对样本进行降维
print(str(pca_X.shape) + '\n' + str(type(pca_X)))

(200000, 100)
<class 'numpy.ndarray'>
CPU times: user 15.4 s, sys: 2.2 s, total: 17.6 s
Wall time: 8.29 s

In [90]:
pca_X = DataFrame(pca_X)
x = pca_X.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
pca_X = pandas.DataFrame(x_scaled)
pca_X.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.453439,0.259504,0.460966,0.546587,0.528921,0.377153,0.524471,0.308691,0.629793,0.514874,...,0.346300,0.540284,0.403092,0.475057,0.391564,0.359514,0.533142,0.527310,0.418510,0.720473
1,0.718723,0.593615,0.442607,0.260432,0.391372,0.543276,0.301724,0.461673,0.583330,0.729657,...,0.311223,0.473710,0.525864,0.478699,0.425248,0.556520,0.339448,0.690165,0.601320,0.580802
2,0.458787,0.481015,0.591830,0.585275,0.514705,0.434670,0.760067,0.478484,0.411925,0.571815,...,0.546258,0.444930,0.433473,0.493528,0.446758,0.454333,0.599957,0.417549,0.433475,0.549180
3,0.567992,0.618241,0.716765,0.433966,0.502764,0.530721,0.737040,0.654448,0.448727,0.319203,...,0.497497,0.598123,0.423679,0.516171,0.520702,0.434551,0.535340,0.465929,0.673559,0.600705
4,0.835591,0.716161,0.522494,0.764288,0.274877,0.642921,0.303752,0.648336,0.209125,0.313639,...,0.376443,0.442225,0.514548,0.634163,0.488613,0.578546,0.290164,0.457816,0.303048,0.385919

In [ ]:
X_train3,X_test3, y_train3, y_test3 = train_test_split(pca_X, y, test_size=0.2)
print('Total label_1 of training set is ' + str(sum(y_train3.target)))
print('Total label_1 of test set is ' + str(sum(y_test3.target)))

Total label_1 of training set is 16162
Total label_1 of test set is 3936

In [ ]:
%%time
svc = svm.SVC() 
svc.fit(X_train3, y_train3)

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [ ]:
%%time
y_predict3=svc.predict(X_test3)
print ('Original Data ROC AUC:%.3f'%roc_auc_score(y_true=y_test3,y_score=y_predict3))
print ('Original Data Accuracy:%.3f'%accuracy_score(y_true=y_test3,y_pred=y_predict3))

**然后发现PCA降至50维也不行**

**？？？这个准确率？？表示完全都是猜的0，因为2000个test data，其中182个为1，其他的为0，如果都猜0的话，正确率正好是0.909，然后AUC正好是0.5，但是这是为什么？？**

**Try K-NN:**

In [30]:
%%time
from sklearn.neighbors import KNeighborsClassifier

#Let's iterate i in range(1,12), and find the i that can get the best(highest) accuracy on test data:
i_and_accs = []
for i in range(1,12):
    k = i
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    y_pred_test = knn.predict(X_test)
    acc_test = knn.score(X_test, y_test)
    y_pred_train = knn.predict(X_train)
    acc_train = knn.score(X_train, y_train)
    
    i_and_accs.append([i,acc_test,acc_train])
    
i_and_accs #List of accuracies when i in range of 1 to 49, but haven't been sorted yet

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

CPU times: user 3h 13min 22s, sys: 21 s, total: 3h 13min 43s
Wall time: 5h 23min 23s

In [31]:
%%time
sorted_i_and_accs = sorted(i_and_accs, key=lambda x: x[1], reverse=True)
best_k = sorted_i_and_accs[0][0]
best_acc_test = sorted_i_and_accs[0][1]
corresponding_acc_train = sorted_i_and_accs[0][2]
print('The k (whose range from 1 to 49) that can get the best accuracy is '+str(best_k)+'.')
print('The best accuracy on test data is '+str(best_acc_test)+'.')

The k (whose range from 1 to 49) that can get the best accuracy is 3.
The best accuracy on test data is 0.5473880597014925.
CPU times: user 247 µs, sys: 270 µs, total: 517 µs
Wall time: 277 µs

In [32]:
sorted_i_and_accs

[[3, 0.5473880597014925, 0.7319940291080981],
 [5, 0.5432835820895522, 0.6639507401418087],
 [7, 0.5395522388059701, 0.6271613384749347],
 [1, 0.5370646766169154, 1.0],
 [9, 0.5370646766169154, 0.6037753451921881],
 [11, 0.5349502487562189, 0.5877285732056226],
 [6, 0.5205223880597015, 0.5874797860430402],
 [8, 0.5199004975124378, 0.5725525562880955],
 [4, 0.5190298507462686, 0.6093419579549695],
 [10, 0.5159203980099503, 0.5619169050876974],
 [2, 0.5140547263681592, 0.6488369200149272]]

In [ ]:
AUC?